<h1>Cocktails index</h1>

<%= cl_image_tag("https://res.cloudinary.com/dtwuuobev/image/upload/v1573827710/ti_punch.jpg",
      width: 400, height: 300, crop: :fill) %>

<ul>
  <% @cocktails.each do |cocktail| %>
  <li><h2><%= cocktail.name  %> <%= link_to 'details', cocktail_path(cocktail) %></h2></li>
  <% end %>
</ul>


<div class="nav_block">
  <%= link_to 'New', new_cocktail_path  %>
</div>


